@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body,
#root,
.App {
    height: 100%;
    background-color: #191919;
    @apply text-[#F5F5F5] font-quicksand;
}

.App {
    z-index: 1 !important;
}

.app-clip {
    clip-path: polygon(35% 0, 100% 0, 65% 100%, 0 100%);
    z-index: 2 !important;
}

.about-clip {
    clip-path: polygon(0 0, 65% 0, 100% 100%, 35% 100%);
    z-index: 2 !important;
}


::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 1060px) {
    .app-clip,
    .about-clip {
        display: none;
    }
}